<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>  {% block header %} {% endblock header %} Learning Management System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />

</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				{% if user.is_authenticated %}
					<li>
					<a class="nav-link active " aria-current="page" href="{% url 'profile' %}" >Profile</a>
				</li>
				<li>
					<a class="nav-link active " aria-current="page" href="{% url 'logout' %}" >Logout</a>
					</li>
					
				{% else %}
				<li>
					<a class="nav-link active " aria-current="page" href="#">New User</a>
				</li>
				<li>
					<a class="nav-link active " aria-current="page" href="/login" style="text-align:right">Log in</a>
					</li>
					{% endif %}
			</ul>
		</nav>
	</header>
	{% block body %}  {% endblock body  %}
	<footer>
		<p>&copy; 2023 Learning Management System. All Rights Reserved.</p>
	</footer>

</body>
</html>
